@import "./font-awesome/css/font-awesome.min.css";

@font-face {
    font-family: 'nunitoblack';
    src: url('fonts/nunito-black-webfont.woff2') format('woff2'),
         url('fonts/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoblack_italic';
    src: url('fonts/nunito-blackitalic-webfont.woff2') format('woff2'),
         url('fonts/nunito-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitobold';
    src: url('fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitobold_italic';
    src: url('fonts/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoextrabold';
    src: url('fonts/nunito-extrabold-webfont.woff2') format('woff2'),
         url('fonts/nunito-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoextrabold_italic';
    src: url('fonts/nunito-extrabolditalic-webfont.woff2') format('woff2'),
         url('fonts/nunito-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoextralight';
    src: url('fonts/nunito-extralight-webfont.woff2') format('woff2'),
         url('fonts/nunito-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoextralight_italic';
    src: url('fonts/nunito-extralightitalic-webfont.woff2') format('woff2'),
         url('fonts/nunito-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoitalic';
    src: url('fonts/nunito-italic-webfont.woff2') format('woff2'),
         url('fonts/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitolight';
    src: url('fonts/nunito-light-webfont.woff2') format('woff2'),
         url('fonts/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitolight_italic';
    src: url('fonts/nunito-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/nunito-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoregular';
    src: url('fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webblack';
    src: url('fonts/titilliumweb-black-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webbold';
    src: url('fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webbold_italic';
    src: url('fonts/titilliumweb-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webitalic';
    src: url('fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_webregular';
    src: url('fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_websemibold';
    src: url('fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'titillium_websemibold_italic';
    src: url('fonts/titilliumweb-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/titilliumweb-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cairoregular';
    src: url('fonts/cairo-regular-webfont.woff2') format('woff2'),
         url('fonts/cairo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntubold_italic';
    src: url('fonts/ubuntu-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntuitalic';
    src: url('fonts/ubuntu-italic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight';
    src: url('fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntulight_italic';
    src: url('fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntumedium';
    src: url('fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    background-image: url(images/bkg.png);
    /*font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;*/
    font-family: "titillium_webregular";
    /*font-family: "cairoregular";*/
    /*font-family: "ubunturegular";*/
    /*font-family: "nunitoregular";*/
    font-size: 20px;
    color: rgb(200,200,200);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
}

h1 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(181,232,83,0.1), 0 0 10px rgba(181,232,83,0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}
header {
    width: 100%;
    border-bottom: 1px dashed #b5e853;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2 {
    color: rgb(122, 122, 122); 
}
h3 {
    color: #666; 
    font-size: 26px;
    font-family: "nunitoblack";
}

a {
    color:chocolate;
    text-decoration: none;
}
a.menu {
    color: rgb(195,195,195);
    text-decoration: none;
    font-size: 20px;
}
p {
    line-height: 1.5;
    font-size: 20px;
}
p.subtitle {
  line-height: 1.5;
  color: #666; 
  font-weight: bolder;
  font-size: 24px;
  font-family: "nunitoblack";
}

li {
    font-size: 20px;
}

font.bullet {
    color:#808000;
    font-weight: bolder;
}

ul {
    line-height: 1.4;
}
span.bullet {
    line-height: 1.4;
}
span.subtitle {
    line-height: 1.6;
    color: #666; 
    font-weight: bolder;
    font-size: 24px;
    font-family: "nunitoblack";
}
span.version {
    font-weight: bolder; 
    padding:1px 8px 1px 8px; 
    background-color: rgb(0, 49, 139);
    color:rgb(100, 194, 237);
    border-radius: 10px;
}
span.dataversion {
    color:gray;
    font-size: smaller;
}
span.describeversion {
    font-style: italic;
    font-family: Consolas;
    font-size: smaller;
}

img.thumb {
    border: 1px dashed rgb(47, 122, 17); /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
img.thumbIPhone {
    border: 1px dashed rgb(47, 122, 17); /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 105px; /* Set a small width */
}
img.thumb:hover {
    box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}
img.thumbIPhone:hover {
    box-shadow: 0 0 4px 4px rgba(0, 140, 186, 0.5);
}

div.dim {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(5,5,5,0.85);
}
span.command {
    padding: 0px 10px 0px 0px;
    background-color: black;
    font-style: italic;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 17px;
    color: goldenrod;
}
span.prompt {
    padding: 0px 3px 0px 10px;
    background-color: black;
    font-style: italic;
    font-family: Consolas, 'Courier New', Courier, monospace;
    font-size: 17px;
    color: yellow;
}
span.arrow {
    color: rgb(133, 133, 228);
    font-weight: bolder;
    font-size: larger;
}

img.overview {
    width: 1350px;
}
img.overview1 {
}